container_commands:
  01_clearsessions:
    command: "python manage.py clearsessions"

files:
  "/etc/cron.d/clearsessions":
    mode: "0644"
    owner: root
    group: root
    content: |
      # Run clearsessions every day at 4:00am 
      0 4 * * * root cd /var/app/current && /var/app/venv/*/bin/python manage.py clearsessions
