
.viz_container {
    margin-top: 20px;
    padding: 15px;
}
.weight_history_title {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
}


.chart_button_container {
    padding: 1px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}
.chart_left_button {
    padding: 12px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    max-width: 120px;
    min-width: 100px;
    align-items: center;
    border: 1px solid #7B5CB8;
}
.chart_right_button {
    padding: 12px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    max-width: 120px;
    min-width: 100px;
    align-items: center;
    border: 1px solid #7B5CB8;
}


.chart_container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}