.dashboard {
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.patientCard {
  background: white;
  border-radius: 10px;
  padding: 6px 0 12px;
  width: 220px;
  height: 155px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.patientCard:hover {
  transform: scale(1.05);
}

.patientInfo h3 {
  font-size: 16px;
  margin: 4px 0px 0px;
  font-weight: bold;
}

.patientInfo p {
  font-size: 12.5px;
  color: #555;
}

.weightInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weightLabel {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.weightValue {
  font-size: 18px;
  font-weight: bold;
}

.timestamp {
  font-size: 12.5px;
  color: #555;
}



.dailyChange {
    font-size: 0.8rem; 
    color: #555;
}


.patientCard.aboveThreshold {
    border: 1.5px solid #cc0000; 
    background-color: #ffe9e9; 
}
.aboveThreshold .weightValue {
    color: #cc0000;
}
.aboveThreshold .dailyChange {
    color: #cc0000; 
}


.patientCard.noDailyChange {
    background-color: #ffffeb; 
}
.noDailyChange .dailyChange {
    color: #cc5555;
}


.patientCard.belowThreshold {
    border: 1px solid #006600;
    background-color: #e6ffe6; 
}
.belowThreshold .weightValue {
    color: #006600; 
}
.belowThreshold .dailyChange {
    color: #006600; 
}

