
# INSTRUCTIONS TO SETUP DATABASE WITH DJANGO: 
# 1) rename this file to `.env` 
# 2) add the appropriate credentials in the fields below 
# 3) make sure `.env` is added to .gitignore to avoid committing sensitive info to the repo 

# DB name as shown in MySQL Workbench. This is separate from the AWS identifier 
DATABASE_NAME=

# username and passwd to access the database 
DATABASE_USER=
DATABASE_PASSWD=

# web endpoint for the database. Do NOT add https:// or mysql://, etc. to the front 
DATABASE_HOST=
DATABASE_PORT=